:root{
  --clr-primary-1: #264653;
  --clr-primary-2: #33c2b1;
  --clr-orange: #EE9078;
  --clr-grey: #AAAAAA;
  --clr-white: #ffffff;
}

/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-primary-1);
  color: var(--clr-primary-2);
  padding: 12px 16px;
}

.navbar-heading{
  display: inline;
  font-weight: 400;
  font-size: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.navbar-link{
  color: var(--clr-primary-2);
  text-decoration: none;
  align-self: center;
  align-content: center;
}

.navbar-link:hover{
  color: var(--clr-orange);
}

.navbar-icons{
  font-size: 22px;
  padding-right: 4px;
}

/* topics */
.topic-section{
  background-color: var(--clr-primary-2);
  flex-direction: column;
  padding: 1px 0px 20px 0px;
}

.topic-section h2{
  color: var(--clr-primary-1);
  padding: 0px 10px;
  font-weight: 400;
}

.topic-list{
  text-decoration: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.topic-list li{
  display: inline;
  margin: 0px 10px;
}

.topic-btn{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.topic-btn h4{
  color: var(--clr-primary-1);
}

.topic-btn h4:hover{
  color: var(--clr-orange);
}

.topic-logo{
  width: 100%;
  height: auto;
}


/* footer */
.footer{
  text-align: center;
  color: var(--clr-grey);
  background-color: var(--clr-primary-1);
  padding: 8px 16px;
}

.footer-div{
  margin: 16px;
}

.footer-ul{
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.footer-ul li{
  display: inline;
  color: var(--clr-primary-2);
}

.footer-ul a{
  color: var(--clr-primary-2);
}

.footer-ul a:hover{
  color: var(--clr-orange);
}

.footer-icon{
  font-size: 25px;
  margin: 8px 16px;
}

.footer-para a{
  text-decoration: none;
  color: var(--clr-primary-2);
}

.footer-para a:hover{
  color: var(--clr-orange);
}